.app-home {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  -webkit-overflow-scrolling: touch; }
  .app-home__navbar {
    border-bottom: 1px solid #eee;
    background-color: #0984e3; }
  .app-home .top-products {
    margin-top: 1rem;
    min-height: 200px;
    overflow: hidden; }
    .app-home .top-products__item {
      position: relative;
      max-width: 320px;
      background-color: #fff; }
    .app-home .top-products__img {
      width: 100%;
      height: 260px; }
    .app-home .top-products__name {
      position: absolute;
      left: 0;
      bottom: 1px;
      display: block;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .app-home .top-products__img-holder {
      height: 150px;
      background-color: yellowgreen; }
  .app-home__category-grid {
    margin-top: 1rem; }
    .app-home__category-grid .am-grid-icon {
      height: 25px; }
  .app-home .recommend-list {
    margin-top: 1rem; }
