.app-home {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  -webkit-overflow-scrolling: touch;
  .top-products {
    padding: 18px 0;
    background: #fff;
    min-height: 280px;
    overflow: hidden;
    &__item {
      position: relative;
    }
    &__img {
      width: 100%;
      height: 240px;
    }
    &__name {
      position: absolute;
      bottom: 4px;
      left: 0;
      display: block;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      color: #fff;
      background-color: rgba($color: #000000, $alpha: 0.15);
    }
    &__img-holder {
      height: 150px;
      background-color: yellowgreen;
    }
  }
  .category-grid {
    margin-top: 12px;
  }
  .recommend-list {
    margin-top: 12px;
  }
}
