.app-home {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  -webkit-overflow-scrolling: touch;
  &__navbar {
    border-bottom: 1px solid #eee;
  }
  .top-products {
    margin-top: 1rem;
    min-height: 200px;
    overflow: hidden;
    &__item {
      position: relative;
      background-color: #fff;
    }
    &__img {
      width: 100%;
      height: 260px;
    }
    &__name {
      position: absolute;
      left: 0;
      bottom: 1px;
      display: block;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      color: #fff;
      background-color: rgba($color: #000000, $alpha: 0.15);
    }
    &__img-holder {
      height: 150px;
      background-color: yellowgreen;
    }
  }
  &__category-grid {
    margin-top: 1rem;
    .am-grid-icon {
      height: 25px;
    }
  }
  .recommend-list {
    margin-top: 1rem;
  }
}
