.account {
  height: 100%;
  min-height: 100vh; }
  .account__content {
    margin-top: 100px; }
  .account__title {
    text-align: center; }
  .account__sub-title {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .account__form {
    width: 420px;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 32px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15); }
  .account__footer {
    text-align: center; }
  .account__link {
    padding: 0 6px;
    color: #999; }
