.account {
  height: 100%;
  min-height: 100vh;
  &__content {
    margin-top: 100px;
  }
  &__title {
    text-align: center;
  }
  &__sub-title {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  &__form {
    width: 420px;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 32px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  }
  &__footer {
    text-align: center;
  }
  &__link {
    padding: 0 6px;
    color: #999;
  }
}
