.account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  .login-form {
    width: 800px;
    height: 600px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    .login-form-button {
      width: 100%;
    }
  }
}
